:root {
  font-size: 16px;
  --gap: 10px;
  --overlay: rgba(255, 255, 255, 0.05);
  --nav-item-height: 80%;
}

* {
  box-sizing: border-box;
  text-decoration: none !important;
  list-style-type: none !important;
  overflow: hidden;
  font-family: Arial;
  /* border: 1px solid red !important; */
  color: azure;
}

body {
  height: 100dvh;
  width: 100dvw;
  margin: 0px;
  padding: 0px;
  background-color: #0b1215;
}

button {
  cursor: pointer;
}

.material-symbols-rounded {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' -25,
    'opsz' 20
}

.navbar {
  height: 7.5dvh;
}

.viewport {
  height: 92.5dvh;
}