:root {
  font-size: 16px;
  --gap: 10px;
  --overlay: rgba(255, 255, 255, 0.025);
  --nav-item-height: 80%;
}

* {
  /* border: 1px solid rgb(50, 50, 100) !important; */
  text-decoration: none !important;
  list-style-type: none !important;
  box-sizing: border-box;
  overflow: hidden;
  font-family: Arial;
  color: azure;
  transition: 200ms ease-out;
}

body {
  height: 100dvh;
  width: 100dvw;
  margin: 0px;
  padding: 0px;
  background: rgb(11, 18, 21);
  background: radial-gradient(circle, rgb(19, 31, 36) 0%, #0b1215 100%);
}

button {
  cursor: pointer;
}

.material-symbols-rounded {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' -25,
    'opsz' 20
}

.navbar {
  height: 7.5dvh;
}

.viewport {
  height: 92.5dvh;
}